/UIDecorator/UIDecorator.pro.user
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/mainwindow.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QTextEditExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QTextEditExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIDecorator.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIDecorator.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/QTextEditExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIDecorator.exe
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIDecorator.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style1.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style2.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style3.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_containers.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_UIDecorator.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_widgets.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/UITemplates/widgets.ui
/UIDecorator/UIDecorator.pro.user.a65b7db
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/config.ini
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QCompleterExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QCompleterExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QSyntaxHighlighterExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QSyntaxHighlighterExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/QCompleterExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/QSyntaxHighlighterExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.UIDecorator.Debug
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.UIDecorator.Release
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_widgets_.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/UIDecorator.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ResourceDialog.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ResourceDialog.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ResourceDialog.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_ResourceDialog.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/GradientDialog.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_GradientDialog.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_GradientDialog.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_GradientDialog.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_XMLProcessor.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_XMLProcessor.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Treeitem.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/XMLProcessor.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/s.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/StyleNew.css

/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/config.ini
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/GradientDialog.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/mainwindow.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_GradientDialog.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_GradientDialog.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QCompleterExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QCompleterExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QSyntaxHighlighterExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QSyntaxHighlighterExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QTextEditExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_QTextEditExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_ResourceDialog.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_ResourceDialog.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIDecorator.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIDecorator.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_XMLProcessor.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_XMLProcessor.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/QCompleterExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.cpp
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/QSyntaxHighlighterExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/QTextEditExt.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/ResourceDialog.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Treeitem.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIDecorator.exe
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIDecorator.ilk
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIDecorator.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIDecorator.pdb
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIDecorator.vc.pdb
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/XMLProcessor.obj
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Styles/ComboBox.css
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_containers.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_GradientDialog.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_mainwindow.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_ResourceDialog.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_UIDecorator.h
/build-UIDecorator-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_widgets.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIRoutiner.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIRoutiner.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIRutiner.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIRutiner.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIRoutiner.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/StyleNew123.css
