/UIDecorator/UIDecorator.pro.user
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/mainwindow.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QTextEditExt.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_QTextEditExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIDecorator.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIDecorator.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.cpp
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/QTextEditExt.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIDecorator.exe
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIDecorator.o
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style1.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style2.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Styles/style3.css
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_containers.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_UIDecorator.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_widgets.h
/build-UIDecorator-Desktop_Qt_5_10_1_MinGW_32bit-Debug/UITemplates/widgets.ui
/UIDecorator/UIDecorator.pro.user.a65b7db
